In [1]:
import pandas as pd
import Read_file as rf
import datetime as dt
import Dn_dt as dn
import pandas_ta as ta

c:\Users\HP\OneDrive\Code_Play\Lib\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [2]:
data = rf.Read_xlsx_File.Read_xlsx_File("../Data_File/sym_data/NIFTY.xlsx", int(input("0 = NFITY50\n1 = NIFTY100\n2 = NFITY200\n3 = NIFTY-NEXT50\n4 = Please inter your symbols in Port_folio1 and numbers are continues.5 6 7\n Please enter your Choice: ")))
symbols = rf.Read_xlsx_File.symbols(data)
sym = symbols[:5]

In [18]:
sma_low = 9
sma_high = 27
ema_low = 8
ema_high = 21
yf_dn_obj = dn.yf_dn.yf_data
dt5 = {}
for symbol in sym:
    data = yf_dn_obj(self=symbol, symbol=symbol)
    sma_data = ta.sma(data["Close"], length = sma_low)
    sma_h_data = ta.sma(data["Close"], length = sma_high)
    data[f'SMA{sma_low}'] = sma_data
    data[f'SMA{sma_high}'] = sma_h_data
    ema_data = ta.ema(data["Close"], length =ema_low)
    ema_h_data = ta.ema(data["Close"], length =ema_high)
    data[f'EMA{ema_low}'] = ema_data
    data[f'EMA{ema_high}'] = ema_h_data
    data.dropna(inplace=True)
    columns = ['Adj Close']
    data.drop(columns=columns, inplace=True)
    dt5[symbol] = data

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [21]:
dt5['ICICIBANK.NS'][:1]

,Open,High,Low,Close,Volume,SMA9,SMA27,EMA8,EMA21
Datetime,,,,,,,,,
2023-12-26 11:25:00+05:30,995.0,995.700012,994.900024,995.200012,127973,995.300001,993.648148,995.085979,994.045557