In [1]:
import pandas as pd
import Read_file as rf
import datetime as dt
import Dn_dt as dn
import matplotlib.pyplot as plt
import Tech_Indi as td

c:\Users\HP\OneDrive\Code_Play\Lib\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [2]:
data = rf.Read_xlsx_File.Read_xlsx_File("../Data_File/sym_data/NIFTY.xlsx", int(input("0 = NFITY50\n1 = NIFTY100\n2 = NFITY200\n3 = NIFTY-NEXT50\n4 = Please inter your symbols in Port_folio1 and numbers are continues.5 6 7\n Please enter your Choice: ")))
symbols = rf.Read_xlsx_File.symbols(data)
sym = symbols[:5]

## TODO: 
    RSI and MACD Or Bollinger Bands Strategy.

In [3]:
sma_low = 10
sma_high = 27
ema_low = 7
ema_high = 15
period = 14
yf_dn_obj = dn.yf_dn.yf_data
dt5 = {}
for symbol in sym:
    data = yf_dn_obj(self = symbol, symbol=symbol)
    #Technical Indicators
    tech_model = td.Tech_model()

    #SMA
    low_sma, high_sma = tech_model.SMA(df=data, low_timeperiod=sma_low, high_timeperiod=sma_high)
    
    #EMA
    low_ema, high_ema = tech_model.EMA(df=data, low_timeperiod=ema_low, high_timeperiod=ema_high)
    #RSI
    rsi = tech_model.RSI(df=data, window=period)
    # TODO: Working on it...
    data['Position'] = data.apply(tech_model.Perpus, axis=1)
    
    # Dropping empty values and converting to dictionary.
    
    data.dropna(inplace=True)
    columns = ['Adj Close']
    data.drop(columns=columns, inplace=True)
    dt5[symbol] = data
    '''
    # FIXME: Plotting This is working for ploting data with different symbols wise data.
    plt.figure(figsize=(10, 6))
    plt.plot(data.index, data["Close"], label='Close Price', color='blue')
    #plt.plot(data.index, data["Low"], label='Low Price', color='black')
    plt.plot(data.index, data[f'SMA{sma_low}'], label=f'SMA{sma_low}', color='red')
    plt.plot(data.index, data[f'SMA{sma_high}'], label=f'SMA{sma_high}', color='green')
    plt.plot(data.index, data[f'EMA{ema_low}'], label=f'EMA{ema_low}', color='orange')
    plt.plot(data.index, data[f'EMA{ema_high}'], label=f'EMA{ema_high}', color='purple')
    plt.title(f'{symbol} Close Price with SMAs and EMAs')
    plt.xlabel('Date')
    plt.ylabel('Price')
    plt.legend()
    plt.show()
    '''

[*********************100%%**********************]  1 of 1 completed

NameError: name 'Perpus' is not defined

In [ ]:
dt5['COALINDIA.NS'].tail()

,Open,High,Low,Close,Volume,SMA_10,SMA_27,EMA_7,EMA_15,RSI_14
Datetime,,,,,,,,,,
2024-02-23 15:05:00+05:30,443.899994,444.700012,443.700012,444.399994,148567,445.004996,445.004996,444.791378,444.791378,47.060425
2024-02-23 15:10:00+05:30,444.500000,444.700012,443.700012,443.950012,216597,444.884998,444.884998,444.638402,444.638402,43.851331
2024-02-23 15:15:00+05:30,443.750000,444.100006,442.899994,443.399994,281656,444.634998,444.634998,444.413237,444.413237,40.239356
2024-02-23 15:20:00+05:30,443.399994,444.549988,443.250000,444.350006,209779,444.514999,444.514999,444.401741,444.401741,48.179054
2024-02-23 15:25:00+05:30,444.299988,444.299988,443.000000,444.200012,199955,444.370001,444.370001,444.365063,444.365063,47.114728