In [1]:
import pandas as pd
import Read_file as rf
import datetime as dt
import Dn_dt as dn
import pandas_ta as ta
import matplotlib.pyplot as plt

c:\Users\HP\OneDrive\Code_Play\Lib\site-packages\yfinance\base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [2]:
data = rf.Read_xlsx_File.Read_xlsx_File("../Data_File/sym_data/NIFTY.xlsx", int(input("0 = NFITY50\n1 = NIFTY100\n2 = NFITY200\n3 = NIFTY-NEXT50\n4 = Please inter your symbols in Port_folio1 and numbers are continues.5 6 7\n Please enter your Choice: ")))
symbols = rf.Read_xlsx_File.symbols(data)
sym = symbols[:5]

## TODO: 
    RSI and MACD Or Bollinger Bands Strategy.

In [6]:
sma_low = 9
sma_high = 27
ema_low = 8
ema_high = 21
yf_dn_obj = dn.yf_dn.yf_data
dt5 = {}
for symbol in sym:
    data = yf_dn_obj(self=symbol, symbol=symbol)
    #Technical Indicators
    #SMA
    sma_data = ta.sma(data["Close"], length = sma_low)
    sma_h_data = ta.sma(data["Close"], length = sma_high)
    data[f'SMA{sma_low}'] = sma_data
    data[f'SMA{sma_high}'] = sma_h_data
    #RMA
    ema_data = ta.ema(data["Close"], length =ema_low)
    ema_h_data = ta.ema(data["Close"], length =ema_high)
    data[f'EMA{ema_low}'] = ema_data
    data[f'EMA{ema_high}'] = ema_h_data
    #RSI
    data['RSI'] = ta.rsi(data['Close'])
    '''
    #MACD
    macd = ta.macd(data['Close'])
    print(macd.head())
    data['MACD'] = macd['MACD']
    data['MACD_Signal'] = macd['SIGNAL']
    '''
    # Dropping empty values and converting to dixnary.
    data.dropna(inplace=True)
    columns = ['Adj Close']
    data.drop(columns=columns, inplace=True)
    dt5[symbol] = data
    '''
    # FIXME: Plotting This is working for ploting data with different symbols wise data.
    plt.figure(figsize=(10, 6))
    plt.plot(data.index, data["Close"], label='Close Price', color='blue')
    #plt.plot(data.index, data["Low"], label='Low Price', color='black')
    plt.plot(data.index, data[f'SMA{sma_low}'], label=f'SMA{sma_low}', color='red')
    plt.plot(data.index, data[f'SMA{sma_high}'], label=f'SMA{sma_high}', color='green')
    plt.plot(data.index, data[f'EMA{ema_low}'], label=f'EMA{ema_low}', color='orange')
    plt.plot(data.index, data[f'EMA{ema_high}'], label=f'EMA{ema_high}', color='purple')
    plt.title(f'{symbol} Close Price with SMAs and EMAs')
    plt.xlabel('Date')
    plt.ylabel('Price')
    plt.legend()
    plt.show()
    '''

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [7]:
dt5['COALINDIA.NS'].tail()

,Open,High,Low,Close,Volume,SMA9,SMA27,EMA8,EMA21,RSI
Datetime,,,,,,,,,,
2024-02-23 15:05:00+05:30,443.899994,444.700012,443.700012,444.399994,148567,444.988885,444.829629,444.726219,444.819403,47.060425
2024-02-23 15:10:00+05:30,444.500000,444.700012,443.700012,443.950012,216597,444.772220,444.833333,444.553728,444.740368,43.851331
2024-02-23 15:15:00+05:30,443.750000,444.100006,442.899994,443.399994,281656,444.533332,444.811111,444.297343,444.618516,40.239356
2024-02-23 15:20:00+05:30,443.399994,444.549988,443.250000,444.350006,209779,444.388889,444.825925,444.309046,444.594106,48.179054
2024-02-23 15:25:00+05:30,444.299988,444.299988,443.000000,444.200012,199955,444.288890,444.811111,444.284816,444.558279,47.114728